<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasnim's Room</title>
</head>
<body>
    <h1>Tasnim's Room</h1>
    <a href="/light/on"><button>Turn Light On</button></a>
    <a href="/light/off"><button>Turn Light Off</button></a>
    <br /><br />
    <a href="/diffuser/light/on"><button>Turn Diffuser Light On</button></a>
    <a href="/diffuser/light/off"><button>Turn Diffuser Light Off</button></a>
    <br /><br />
    <a href="/diffuser/spray/on"><button>Turn Diffuser Spray On</button></a>
    <a href="/diffuser/spray/off"><button>Turn Diffuser Spray Off</button></a>
    <br /><br />
    <a href="/hextiles/on"><button>Turn HexTiles On</button></a>
    <a href="/hextiles/off"><button>Turn HexTiles Off</button></a>
    <br /><br />
    <a href="/sconces/on"><button>Turn Sconces On</button></a>
    <a href="/sconces/off"><button>Turn Sconces Off</button></a>
</body>
</html>